@import './colours.css';

html,
body {
	background-color: #101010;
	background: radial-gradient(
					farthest-side at 50% 50%,
					#101010,
					#1a1a1a,
					transparent
			),
			radial-gradient(farthest-side at 0% 50%, #1a1a1a, #202020, transparent),
			radial-gradient(farthest-side at 100% 50%, #202020, #282828, transparent);
	background-size: 300% 300%;
	font-family: 'IBM Plex Sans', sans-serif;
	color: #ffffff;
	color-scheme: dark;
	background-attachment: fixed;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	overflow: auto;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

p, .text {
    color: #ffffff;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.title {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 700;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: #dc2b31;
}

.subtitle {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    color: #cccccc;
}

.verylarge {
    font-size: 4rem;
}

.large {
    font-size: 2.5rem;
}

.medium {
    font-size: 1.75rem;
}

.small {
    font-size: 1rem;
}

.nomargin {
    margin: 0;
    padding: 0;
}

.exterior {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #1a1a1a;
    border-radius: 1rem;
    padding: 1rem;
}

.interior {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #202020;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}


form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.form-element {
    padding-top: 1rem;
}

.form-medium {
    font-size: 1.5rem;
    border: 2px solid #333333;
}

select, input, textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 2px solid #333333;
    background-color: #282828;
    color: #ffffff;
    font-family: 'IBM Plex Sans', sans-serif;
}

button {
    padding: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 15px;
    border: none;
    background-color: #dc2b31;
    color: #ffffff;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 700;
    box-shadow: 5px 5px 5px 0 var(--black);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #c0392b;
}


.link {
    align-self: center;
    text-decoration: none;
    color: #ffffff;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 700;
    transition: 0.3s ease-in-out;
}

.link:hover {
    color: #d21746;
    text-shadow: 1px 1px 2px #000000;
    transform: scale(1.05);
}

.tableFixHead {
    overflow: auto;
    height: 100px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #333333;
    color: #ffffff;
    font-family: 'IBM Plex Mono', monospace;
}

th, td {
    padding: 0.5rem;
    border: 1px solid #444444;
    text-align: left;
}

.bitbox {
    width: clamp(10%, 25%, 50%);
    height: auto;
    animation: animate 5s ease-in-out infinite;
}

@keyframes animate {
    0% {
        transform: scale(1);
        transform: translateY(0px);
    }
    50% {
        transform: scale(1.1);
        transform: translateY(-10px);
    }
    100% {
        transform: scale(1);
        transform: translateY(0px);
    }
}

.logo {
    width: 10%;
    height: auto;
    align-self: center;
    justify-self: center;
    padding: 0;
}

.policy {
    text-align: left;
    height: 100%;
    padding: 1rem;
    overflow: auto;
}
